# Created by https://www.gitignore.io/api/macos
# Edit at https://www.gitignore.io/?templates=macos

### Webapp ###
webappbank/
webappbuyer/
webappseller/

### Quorum ###
*/build
*/contractAddresses/*.txt

### Unit Tests ###
find.log

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

### .env ###
**/.env

## nohup.out ###
**/nohup.out

### nodejs ###
**/node_modules
**/package-lock.json

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Helm
helmChart/values.yaml

# End of https://www.gitignore.io/api/macos
